<div class="footer">
  <div class="inner">
    <div class="left">
      <div class="qr-box">
        <p>扫一扫下载客户端</p>
        <img src="img/qrcode.jpg"/>
        <div class="btn-box">
          <a href="javascript:void(0);" class="btn-ios"></a>
          <a href="javascript:void(0);" class="btn-android"></a>
        </div>
      </div>
      <div class="copyright">
          <p>Copyright©2016 Immusician.All rights reserved.版权所有音悦荚 湘ICP备15000754号-1</p>
      </div>
    </div>
    <div class="right">
      <p>微信客服：rainpleliu</p>
      <img src="img/qrcode.jpg"/>
    </div>
  </div>
</div>